* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #000000ca;
}

html,
body {
  height: 100%;
  width: 100%;
}

.box1 {
  height: 10vw;
  width: 10vw;
  background-color: crimson;
  
}

.box2 {
  height: 10vw;
  width: 10vw;
  background-color: rgb(108, 157, 249);
  margin-top: 10px;
}
