* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
main {
  height: 100%;
  width: 100%;

  overflow: hidden;
}
/* .box1 {
  background-color: wheat;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-self: start;
  /* margin: 10px; 
}*/
/* .box1 h1 {
  font-weight: 500;
  font-size: 7rem;
}
.box2 {
  background-color: wheat;
  height: 200px;
  width: 200px;
  margin: 10px;
}
button {
  padding-block: 1rem;
  padding-inline: 2rem;
  background: aliceblue;
  color: black;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 2rem;
  transform: translate(-50%, -50%); 
} */

/* 
.box1 {
  background-color: wheat;
  height: 200px;
  width: 200px;
  margin-bottom: 0.5rem;
  
}
.box2 {
  background-color: wheat;
  height: 200px;
  width: 200px;
  margin-bottom: 0.5rem;
  
}
.box3 {
  background-color: wheat;
  height: 200px;
  width: 200px;
  margin-bottom: 0.5rem;
  
}
.box4 {
  background-color: wheat;
  height: 200px;
  width: 200px;
  margin-bottom: 0.5rem;
  
} */

/* .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content span {
  font-size: 8rem;
  font-weight: 700;
  display: inline-block;
} */

/* .img-container {
  position: relative;
} */
.loding-content {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: wheat;
  position: absolute;
  inset: 0;
  z-index: 5;
}

.loding-content .loder h1 {
  font-size: 4rem;
}

.img-container {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 3;
  overflow: hidden;
  background-color: black;
}
.img-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  transform-origin: center;
}

.text-content {
  position: absolute;
  inset: 0;

  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 4;
}
.text-content h1 {
  font-size: 3rem;
  font-weight: 800;
  color: rgb(62, 61, 61);
}
.text-content h2 {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(242, 242, 110);
}
