/* .box1 {
  background-color: wheat;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-self: start;
  /* margin: 10px; 
}*/
/* .box1 h1 {
  font-weight: 500;
  font-size: 7rem;
}
.box2 {
  background-color: wheat;
  height: 200px;
  width: 200px;
  margin: 10px;
}
button {
  padding-block: 1rem;
  padding-inline: 2rem;
  background: aliceblue;
  color: black;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 2rem;
  transform: translate(-50%, -50%); 
} */

/* 
.box1 {
  background-color: wheat;
  height: 200px;
  width: 200px;
  margin-bottom: 0.5rem;
  
}
.box2 {
  background-color: wheat;
  height: 200px;
  width: 200px;
  margin-bottom: 0.5rem;
  
}
.box3 {
  background-color: wheat;
  height: 200px;
  width: 200px;
  margin-bottom: 0.5rem;
  
}
.box4 {
  background-color: wheat;
  height: 200px;
  width: 200px;
  margin-bottom: 0.5rem;
  
} */

/* .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content span {
  font-size: 8rem;
  font-weight: 700;
  display: inline-block;
} */

/* .img-container {
  position: relative;
/* } */
/* .loding-content {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: wheat;
  position: absolute;
  inset: 0;
  z-index: 5;
} */
/* 
.loding-content .loder h1 {
  font-size: 4rem;
}

.img-container {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 3;
  overflow: hidden;
  background-color: black;
}
.img-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden; */
/* }
.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  transform-origin: center;
}

.text-content {
  position: absolute; */
/* inset: 0;

  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 4;
}
.text-content h1 {
  font-size: 3rem;
  font-weight: 800;
  color: rgb(62, 61, 61);
}
.text-content h2 {
  font-size: 2rem; 
  font-weight: 500;
  color: rgb(242, 242, 110);
} */

/* main {
  height: 100%;
  width: 100%;
  background-color: #000000;
} */
/* 
.box1 {
  background-color: rgb(216, 201, 173);
  height: 200px;
  width: 200px;
  margin-bottom: 0.5rem;
}
.box2 {
  background-color: rgb(128, 99, 45);
  height: 200px;
  width: 200px;
  margin-bottom: 0.5rem;
}
.box3 {
  background-color: wheat;
  height: 200px;
  width: 200px;
  margin-bottom: 0.5rem;
}
.box4 {
  background-color: rgb(207, 170, 101);
  height: 200px;
  width: 200px;
  margin-bottom: 0.5rem;
}
#play {
  background-color: #e0d4d4;
  padding: 1rem 2rem;
  border-radius: 2rem;
}
#pause {
  background-color: #e0d4d4;
  padding: 1rem 2rem;
  border-radius: 2rem;
}
#resume {
  background-color: #e0d4d4;
  padding: 1rem 2rem;
  border-radius: 2rem;
}
#reverse {
  background-color: #e0d4d4;
  padding: 1rem 2rem;
  border-radius: 2rem;
}
#seek {
  background-color: #e0d4d4;
  padding: 1rem 2rem;
  border-radius: 2rem;
} */

/* .page1 {
  height: 100vh;
  width: 100%;
  background-color: black;
}
.page2 {
  height: 100vh;
  width: 100%;
}
.imgDiv {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  /* transform: scale(0.2); 
}
/* .img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  /* object-position: center; */
/* transform-origin: center center;
  transform: scale(0.2);
  opacity: 0;
  border-radius: 2rem; 
} */

/*.text-content { 
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50rem;
  width: 100%; */
/* word-wrap: break-word; */
/* position: fixed;
  inset: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  pointer-events: none;
}
.text-content h1 {
  color: white;
  font-family: play;
  font-size: 4rem;
}
.spacer {
  height: 100vh;
}
.page2 {
  height: 100vh;
  width: 100vh;
} */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;

  /* overflow: hidden; */
}
.main {
  background-color: #000000;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}
@font-face {
  font-family: play;
  src: url(./fonts/PlaywriteNZ-Regular.ttf);
}
.page1 {
  height: 100vh;
  width: 100%;
  background-color: #000000;
}
.page2 {
  height: 100vh;
  width: 100%;
  background-color: black;
}
.img-div {
  height: 100vh;
  width: 100%;
  background-color: black;
  /* opacity: 0; */
}
.img-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  scale: 0.1;
  opacity: 0;
}
